@import 'src/scss/_vars.scss';

.header {
  @extend %wrapper;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.item {
  font-size: 24px;
  line-height: 24px;
  color: black;
  font-weight: 600;
  &:hover {
    color: $highlighting;
  }
}
