$highlighting: #2F5FE3;

%wrapper {
  max-width: 1220px;
  padding: 0 32px;
  margin: 0 auto;
}
%subTitle {
  font-size: 24px;
  line-height: 24px;
  color: black;
  font-weight: 500;
  margin-bottom: 16px;
}
